<div class="main-div">
  <mat-card class="card">
    <mat-card-header>
      <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      <mat-card-title>{{this.user.username}}</mat-card-title>
      <mat-card-subtitle>{{this.user.first_name + " " + this.user.last_name}}</mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
      <p>Date joined: {{this.user.date_joined?.slice(0, 10)}}</p>
      <p>Age: 21</p>
      <p>bio:</p>
      <h2>Activities from {{this.user.username}}</h2>
    </mat-card-content>

  </mat-card>
  <table mat-table style="width: 100%" [dataSource]="myActivities" matSort class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element"> {{element.date | date : 'dd.MM.yyyy'}} </td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>

    <!-- Is_Public Column -->
    <ng-container matColumnDef="is_public">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Public</th>
      <td mat-cell *matCellDef="let element"> {{element.is_public}} </td>
    </ng-container>

    <!-- Sport Genre Column-->
    <ng-container matColumnDef="sport_genre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sport Genre</th>
      <td mat-cell *matCellDef="let element"> {{element.sport_genre.name}} </td>
    </ng-container>

    <!-- Created_By_User Column -->
    <ng-container matColumnDef="created_by_user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By User</th>
      <td mat-cell *matCellDef="let element"> {{element.created_by_user?.username}} </td>
    </ng-container>

    <!-- Participants Column -->
    <ng-container matColumnDef="participants">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Participants</th>
      <td mat-cell *matCellDef="let element"> {{element.participants}} </td>
    </ng-container>

    <!-- View Column -->
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="accent" [routerLink]="'/activity-details/' + element.id">View</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>


