<form [formGroup]="activityFormGroup" (ngSubmit)="createOrUpdateActivity()" class="activity-form__form">
  <mat-form-field>
    <input matInput type="text" placeholder="Title" formControlName="title">
    <mat-hint align="end">The title of the sport activity</mat-hint>
    <mat-error *ngIf="activityFormGroup.controls.title.hasError('required')">
      Title is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Sport Genre" formControlName="sport_genre">
      <mat-option *ngFor="let sport_genre of sportService.availableSports" [value]="sport_genre.id">{{sport_genre.name}}</mat-option>
    </mat-select>
    <mat-hint align="end">The sport genre of the activity</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput type="text" placeholder="Description" formControlName="description"></textarea>
    <mat-hint align="end">The description of the sport activity</mat-hint>
  </mat-form-field>

  <app-date placeholder="Date"
            formControlName="date"
            hint="The date of the activity"
            [required]="true">
  </app-date>

  <mat-form-field>
    <input matInput type="text" placeholder="Location" formControlName="location">
    <mat-hint align="end">The location of the sport activity</mat-hint>
  </mat-form-field>

  <mat-checkbox formControlName="is_public">is public</mat-checkbox>

  <mat-card-actions align="start">
    <button mat-raised-button color="primary" [disabled]="!activityFormGroup.valid">{{submitButtonText}}</button>
  </mat-card-actions>
</form>

  <br/>
  <br/>
  TODO:
  <br/>
  <p>created_by_user:

  </p>
  <br/>
  <p>Participants:

  </p>
  <br/>


