
<form (ngSubmit)="createOrUpdateActivity()" [formGroup]="activityFormGroup" class="activity-form__form">
  <h2>Create an activity:</h2>
  <!-- Title -->
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput placeholder="Title" type="text">
    <mat-hint align="end">The title of the sport activity</mat-hint>
    <mat-error *ngIf="activityFormGroup.controls.title.hasError('required')">
      Title is required
    </mat-error>
  </mat-form-field>

  <!-- Sport Genre -->
  <mat-form-field appearance="outline"><!--[formControl]="sportControl"-->
    <mat-label>Sport Genre</mat-label>
    <mat-select formControlName="sport_genre" placeholder="Sport Genre" required>
      <mat-option *ngFor="let sport_genre of sportService.availableSports"
                  [value]="sport_genre.id">{{sport_genre.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="activityFormGroup.controls.sport_genre.hasError('required')">Please choose a sport</mat-error>
    <mat-hint align="end">The sport genre of the activity</mat-hint>
  </mat-form-field>

  <!-- Description -->
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea formControlName="description" matInput placeholder="Description" type="text"></textarea>
    <mat-hint align="end">The description of the sport activity</mat-hint>
  </mat-form-field>

  <!-- Date -->
  <app-date [required]="true"
            formControlName="date"
            hint="The date of the activity"
            placeholder="Date">
  </app-date>

  <!-- Start Time-->
  <mat-form-field appearance="outline">
    <mat-label>Start Time</mat-label>
    <input matInput type="time" formControlName="time" required>
    <mat-hint align="end">The start time of the activity.</mat-hint>
  </mat-form-field>

  <!-- Min players-->
  <mat-form-field appearance="outline">
    <mat-label>Min. People</mat-label>
    <input matInput type="number" maxlength="2" min="2" placeholder="Min. People" formControlName="min_players" required>
    <mat-error *ngIf="activityFormGroup.controls.min_players.hasError('required')">Please enter an amount.</mat-error>
    <mat-hint align="end">The minimum amount of people needed for this activity including you (Min. 2).</mat-hint>
  </mat-form-field>

  <!-- Max players-->
  <mat-form-field appearance="outline">
    <mat-label>Max. People</mat-label>
    <input matInput type="number" maxlength="2" min="min_players"  placeholder="Max. People" formControlName="max_players" required>
    <mat-error *ngIf="activityFormGroup.controls.max_players.hasError('required')">Please enter an amount.</mat-error>
    <mat-hint align="end">Max People to attend.</mat-hint>
  </mat-form-field>

  <!-- Location -->
  <mat-form-field appearance="outline">
    <mat-label>Location</mat-label>
    <input formControlName="location" matInput placeholder="Location" required type="text">
    <mat-error *ngIf="activityFormGroup.controls.location.hasError('required')">Please enter a location</mat-error>
    <mat-hint align="end">The location of the sport activity</mat-hint>
  </mat-form-field>

  <!-- equipment needed? -->
  <mat-checkbox formControlName="equipment_needed" (click)="isOn = true">Equipment needed</mat-checkbox>
  <mat-hint *ngIf="isOn == true">Please provide in the description, what others should bring with.</mat-hint>

  <!-- Button -->
  <mat-card-actions align="start">
    <button [disabled]="!activityFormGroup.valid" color="primary" mat-raised-button>{{submitButtonText}}</button>
  </mat-card-actions>
</form>



