.sports-slider {
  margin: 10px;
}
.sport-grid-tile {

}
.sport-card {
  cursor: pointer;
}
.sport-card-title {
  font-size: 10px;
}


.activity-container {
  display: flex;
  flex-direction: column;
  width: 50rem;
  margin: 3rem auto;
}
