
<div class="sports-slider">
  <mat-grid-list [cols]="cols$ | async" rowHeight="106:151" gutterSize="10px" >
    <div *ngFor="let sport of sports; let i=index">
      <mat-grid-tile class="sport-grid-tile">
        <mat-card class="sport-card">
          <img mat-card-image
               class="sport-card-img"
               src="http://127.0.0.1:4200/api/{{sport.image}}"
               alt="Photo of a Shiba Inu">
          <mat-card-title class="sport-card-title">{{sport.name}}</mat-card-title>
        </mat-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>

<h3>Latest Activities:</h3>

<div class="activities">
  <mat-list role="list" *ngFor="let activity of activities; let i=index;">
    <mat-list-item role="listitem">
      <mat-card class="sport-card">
      {{activity.title}}
      {{activity.date}}
      </mat-card>
    </mat-list-item>
  </mat-list>
</div>

