
<div class="sports-slider">
  <mat-grid-list [cols]="cols$ | async" rowHeight="106:151" gutterSize="10px" >
    <div *ngFor="let sport of sports; let i=index">
      <mat-grid-tile class="sport-grid-tile">
        <mat-card class="sport-card">
          <img mat-card-image
               class="sport-card-img"
               src="http://127.0.0.1:4200/api/{{sport.image}}"
               alt="Photo of a Shiba Inu">
          <mat-card-title class="sport-card-title">{{sport.name}}</mat-card-title>
        </mat-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>


<mat-card style="width: 20rem">
  <h3>Latest Activities:</h3>
<div class="activities" *ngFor="let activity of activities; let i=index;">

      <mat-card>
        <mat-card-title>
          <a style="color: #FFFFFF" [routerLink]='"/activity-details/" + activity.id'>{{activity.title}}</a>
        </mat-card-title>

        <mat-card-subtitle>created_by {{activity.created_by_user.username}}</mat-card-subtitle>
        <mat-card-content>
          <img class="card"  src="http://127.0.0.1:4200/api/{{activity.sport_genre.image}}"  height="50px">
          <p>Date: {{activity.date}}</p>
        </mat-card-content>

      </mat-card>

</div>
</mat-card>
