<form (ngSubmit)="updateUser()" [formGroup]="userFormGroup" class="user-form__form">
  <mat-card class="card">

    <mat-card-header>

      <mat-card-title>
        <img src="https://cdn-icons-png.flaticon.com/512/427/427419.png" style="height:50px"/>
        <a [routerLink]="'/'" style="color: white"><span> SportChimp</span></a>
        /Account Settings
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content style="display: flex; flex-direction: column">

      <!-- Firstname -->
      <mat-form-field appearance="outline">
        <mat-label>Firstname</mat-label>
        <input formControlName="first_name" matInput placeholder="Firstname" type="text">
        <mat-hint align="end">Your firstname</mat-hint>
      </mat-form-field>

      <!-- Lastname -->
      <mat-form-field appearance="outline">
        <mat-label>Lastname</mat-label>
        <input formControlName="last_name" matInput placeholder="Lastname" type="text">
        <mat-hint align="end">Your lastname</mat-hint>
      </mat-form-field>

      <!-- New Password -->
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" matInput
               placeholder="New Password">
        <mat-icon (click)="togglePasswordVisibility()"
                  matSuffix>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint align="end">Your new password</mat-hint>
        <mat-error
          *ngIf="userFormGroup.controls.password.hasError('notSame')">
          not same
        </mat-error>
      </mat-form-field>

      <!-- Confirm New Password -->
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword" matInput
               placeholder="Confirm New Password">
        <mat-hint align="end">Confirm new password</mat-hint>
      </mat-form-field>
      <p
        *ngIf="userFormGroup.hasError('notSame')">Passwords do not match.
      </p>
      <!-- Bio -->
      <mat-form-field appearance="outline">
        <mat-label>Biography</mat-label>
        <textarea formControlName="bio" matInput placeholder="Bio" type="text"></textarea>
        <mat-hint align="end">Your bio</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="birthday">
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- Image Input Field -->
      <p></p>
      <mat-hint>Image Upload:</mat-hint>
      <input #imageInput (change)="ImageInputOnClick(imageInput)" accept="image/*" type="file">
      <p></p>

    </mat-card-content>

    <!-- Submit Button -->
    <mat-card-actions align="start">
      <button [disabled]="!userFormGroup.valid" color="primary" mat-raised-button>Update</button>
    </mat-card-actions>

  </mat-card>
</form>

