<form (ngSubmit)="updateUser(imageInput)" [formGroup]="userFormGroup" class="register-form__form">
  <mat-card class="card">

    <mat-card-header>

      <mat-card-title>
        <img src="https://cdn-icons-png.flaticon.com/512/427/427419.png" style="height:50px"/>
        <a [routerLink]="'/'" style="color: white"><span> SportChimp</span></a>
        /Account Settings
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content style="display: flex; flex-direction: column">

      <!-- Firstname -->
      <mat-form-field appearance="outline">
        <mat-label>Firstname</mat-label>
        <input formControlName="first_name" matInput placeholder="Firstname" type="text">
        <mat-hint align="end">Your firstname</mat-hint>
      </mat-form-field>

      <!-- Lastname -->
      <mat-form-field appearance="outline">
        <mat-label>Lastname</mat-label>
        <input formControlName="last_name" matInput placeholder="Lastname" type="text">
        <mat-hint align="end">Your lastname</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <textarea matInput type="text" placeholder="Bio" formControlName="bio"></textarea>
        <mat-hint align="end">Your bio</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- Image Input Field -->
      <p></p>
      <mat-hint>Image Upload:</mat-hint>
      <input #imageInput type="file" accept="image/*" formControlName="profile_image">
      <p></p>

    </mat-card-content>

    <!-- Submit Button -->
    <mat-card-actions align="start">
      <button [disabled]="!userFormGroup.valid" color="primary" mat-raised-button>Update</button>
    </mat-card-actions>

  </mat-card>
</form>

