<div class="container">
  <button [routerLink]="'/sport-form/'" color="accent" mat-stroked-button>Create Sport</button>
  <table [dataSource]="sports" class="mat-elevation-z8 sport-list-table" mat-table matSort style="width: 80%">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Id</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
      <td *matCellDef="let element" mat-cell> {{element.name}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Description</th>
      <td *matCellDef="let element" mat-cell>{{element.description}} </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
      <td *matCellDef="let element" mat-cell>
        <button [routerLink]="'/sport-form/' + element.id" color="primary" mat-raised-button>Edit</button>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="confirmDelete(element)" color="warn" mat-raised-button>Delete</button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>
