<mat-form-field appearance="outline">
  <mat-icon matPrefix>search</mat-icon>
  <input matInput type="text" [formControl]="filterFormControl" placeholder="Search activities"/>
</mat-form-field>

<button mat-stroked-button color="accent" [routerLink]="'/activity-form/'">Create Activity</button>

<table mat-table style="width: 100%" [dataSource]="filteredActivities" matSort class="mat-elevation-z8">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let element"> {{element.date | date : 'dd.MM.yyyy'}} </td>
  </ng-container>

  <!-- Location Column -->
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
  </ng-container>

  <!-- Euqipment Needed Column -->
  <ng-container matColumnDef="equipment_needed">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Equipment needed</th>
    <td mat-cell *matCellDef="let element"> {{element.equipment_needed}} </td>
  </ng-container>

  <!-- Sport Genre Column-->
  <ng-container matColumnDef="sport_genre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sport Genre</th>
    <td mat-cell *matCellDef="let element"> {{element.sport_genre.name}} </td>
  </ng-container>

  <!-- Created_By_User Column -->
  <ng-container matColumnDef="created_by_user">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By User</th>
    <td mat-cell *matCellDef="let element"> {{element.created_by_user?.username}} </td>
  </ng-container>

  <!-- Participants Column -->
  <ng-container matColumnDef="participants">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Participants</th>
    <td mat-cell *matCellDef="let element"> {{element.participants}} </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" [routerLink]="'/activity-form/' + element.id">Edit</button>
    </td>
  </ng-container>

  <!-- View Column -->
  <ng-container matColumnDef="view">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="accent" [routerLink]="'/activity-details/' + element.id">View</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
