<p>activity-list works!</p>
<button [routerLink]="'/activity-form/'">Create Activity</button>
<table>
  <tr>
    <th>id</th>
    <th>title</th>
    <th>description</th>
    <th>date</th>
    <th>location</th>
    <th>sport_genre</th>
  </tr>
  <tr *ngFor="let activity of activities">
    <td>{{activity.id}}</td>
    <td>{{activity.title}}</td>
    <td>{{activity.description}}</td>
    <td>{{activity.date}}</td>
    <td>{{activity.location}}</td>
    <td>{{activity.sport_genre.name}}</td>
    <td><button [routerLink]="'/activity-form/' + activity.id">Edit</button></td>
  </tr>
</table>
