<form [formGroup]="registerFormGroup" (ngSubmit)="createUser()" class="register-form__form">
  <mat-card class="login-card">
    <mat-form-field>
      <input matInput type="text" placeholder="Username" formControlName="username">
      <mat-hint align="end">Your username</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-hint align="end">Your password</mat-hint>
      <mat-error *ngIf="registerFormGroup.controls.password.hasError('required')">
      Title is required
      </mat-error>
      <mat-error
        *ngIf="registerFormGroup.controls.password.hasError('notSame')">
        not same
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
      <mat-hint align="end">Confirm password</mat-hint>
    </mat-form-field>

    <p
    *ngIf="registerFormGroup.hasError('notSame')">Passwords do not match.
    </p>

    <mat-card-actions align="start">
      <button mat-raised-button color="primary" [disabled]="!registerFormGroup.valid">{{submitButtonText}}</button>
    </mat-card-actions>
  </mat-card>
</form>
