<form (ngSubmit)="createUser()" [formGroup]="registerFormGroup" class="register-form__form">
  <mat-card class="login-card">

    <mat-card-header>

      <mat-card-title>
        <img src="https://cdn-icons-png.flaticon.com/512/427/427419.png" style="height:50px"/>
        <a [routerLink]="'/'" style="color: white"><span> SportChimp</span></a>
        /Register
      </mat-card-title>
      <mat-card-subtitle>{{this.users}} Users already have already registered at sportchimp.xyz.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content style="display: flex; flex-direction: column">

      <!-- Username -->
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput placeholder="Username" required type="text">
        <mat-error *ngIf="registerFormGroup.controls.username.hasError('required')">Please enter a username</mat-error>
        <mat-error
          *ngIf="registerFormGroup.controls.username.hasError('usernameAlreadyExists')">
          username already taken
        </mat-error>
        <mat-hint align="end">Your username</mat-hint>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Email" required type="email">
        <mat-error
          *ngIf="registerFormGroup.controls.email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error
          *ngIf="registerFormGroup.controls.email.hasError('email')">
          Please enter a valid email address -> john@doe.com
        </mat-error>
        <mat-hint align="end">Your email address</mat-hint>
      </mat-form-field>

      <!-- Firstname -->
      <mat-form-field appearance="outline">
        <mat-label>Firstname</mat-label>
        <input formControlName="first_name" matInput placeholder="Firstname" type="text">
        <mat-hint align="end">Your firstname</mat-hint>
      </mat-form-field>

      <!-- Lastname -->
      <mat-form-field appearance="outline">
        <mat-label>Lastname</mat-label>
        <input formControlName="last_name" matInput placeholder="Lastname" type="text">
        <mat-hint align="end">Your lastname</mat-hint>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" matInput placeholder="Password"
               required>
        <mat-icon (click)="togglePasswordVisibility()"
                  matSuffix>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint align="end">Your password</mat-hint>
        <mat-error *ngIf="registerFormGroup.controls.password.hasError('required')">Please enter a password</mat-error>
        <mat-error
          *ngIf="registerFormGroup.controls.password.hasError('notSame')">not same
        </mat-error>
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword" matInput placeholder="Confirm Password" required>
        <mat-error *ngIf="registerFormGroup.controls.confirmPassword.hasError('required')">Please confirm the password</mat-error>
        <mat-hint align="end">Confirm password</mat-hint>
      </mat-form-field>

      <p aria-atomic="true" class="mat-error ng-tns-c126-6 ng-star-inserted" aria-live="polite" id="mat-error-3" style=""
        *ngIf="registerFormGroup.hasError('notSame')">Passwords do not match.
      </p>
    </mat-card-content>

    <!-- Submit Button -->
    <mat-card-actions align="start">
      <button [disabled]="!registerFormGroup.valid" color="primary" mat-raised-button>{{submitButtonText}}</button>
    </mat-card-actions>

  </mat-card>
</form>
